* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
  padding-block: 0;
  padding-inline: 0;
  border: 0;
}

.main-bg {
  margin-top: 20px;
  height: 500px;
  width: 1024px;
  margin: 0 auto;
  background: url(../src/img/main-bg.jpg) no-repeat center center / 100% 100%;
  background-size: cover;
}

.product-content {
  width: 1024px;
  margin: 50px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 30px;
}

.item-card {
  width: calc(100% / 3 - 15px);
  height: 400px;
}

.card {
  width: 100%;
  height: 300px;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-wrap {
  padding: 15px;
}

.detail {
  margin: 50px auto;
}

.detail .text-wrap {
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .main-bg {
    width: 100%;
  }
}
